<form class="container-product" #DeleteForm="ngForm">
  <div class="content-header">
    <h1 class="float-left">
      Tài khoản
      <small class="back"
        ><i class="fa fa-arrow-circle-left"></i
        ><a
          href
          [routerLink]="['/admin/account/list']"
          routerLinkActive="router-link-active"
          >Quay lại danh sách tài khoản</a
        ></small
      >
    </h1>
    <div style="display: inline-block">
      <div class="btn btn-primary" (click)="toggleAccount()">
        <i class="fa fa-refresh text-white"></i>Phục hồi (chọn)
      </div>
      <div class="btn btn-danger" (click)="deleteAccount()">
        <i class="fa fa-trash text-white"></i> Xóa (chọn)
      </div>
    </div>
  </div>
  <br />
  <div class="container-content">
    <div class="card-table">
      <div class="title"><p>Danh sách tài khoản</p></div>
      <table class="card-product col-md-12 table table-striped">
        <thead>
          <tr>
            <th style="text-align: center">
              <input
                type="checkbox"
                [(ngModel)]="isMasterSel"
                name="delete"
                value="h1"
                (change)="checkUncheckAll()"
              />
            </th>
            <th style="text-align: center">Tên người dùng</th>
            <th style="text-align: center">Email</th>
            <th style="text-align: center">Địa chỉ</th>
            <th style="text-align: center">Quyền</th>
            <th style="text-align: center">Trạng thái</th>
            <th style="text-align: center">Cập nhật</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of accountList
                | paginate
                  : {
                      itemsPerPage: 10,
                      currentPage: page,
                      totalItems: totalLength
                    };
              let i = index
            "
            style="line-height: 100px"
          >
            <th style="text-align: center">
              <input
                type="checkbox"
                [(ngModel)]="userList[i].isSelected"
                name="UserId"
                [value]="userList[i]?.UserId"
                (change)="isAllSelected()"
              />
            </th>
            <td>{{ userList[i]?.Fullname }}</td>
            <td>{{ userList[i]?.Email }}</td>
            <td>{{ userList[i]?.Address }}</td>
            <td>
              <p *ngIf="item.Role === 1">Quản lý</p>
              <p *ngIf="item.Role === 2">Khách hàng</p>
            </td>
            <td style="text-align: center" *ngIf="item.Status == false">
              <i class="fa fa-close text-danger"></i>
            </td>
            <td style="text-align: center" *ngIf="item.Status == true">
              <i class="fa fa-check text-primary"></i>
            </td>

            <td style="text-align: center">
              <div
                class="btn btn-danger"
                [routerLink]="['/admin/account/edit/' + item.UserId]"
                routerLinkActive="router-link-active"
              >
                <i class="fa fa-pencil"> Cập nhật</i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls
        previousLabel=""
        nextLabel=""
        class="text-center my-pagination"
        (pageChange)="page = $event"
      ></pagination-controls>
    </div>
  </div>
</form>
