h4 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 22px;
}
.unit {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
}

.total {
  font-size: 2.5em;
  padding: 0 20px;
}

.mat-icon,
.description {
  color: green;
  font-size: 2em;
}

.mat-icon {
  position: relative;
  padding: 0 20px;
  top: 5px;
}
